# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset [wind.csv](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data) from the folder

In [30]:
wind = pd.read_table("Exercise Data Files/Pandas Exercise Date Time Operations Files/wind.data",sep=',')
wind2 = wind.copy()
wind.head()
#parse_dates

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 3. Assign it to a variable called date and replace the first 3 columns by a proper datetime index.

In [31]:
wind['date'] = wind[wind.columns[0:3]].apply(
                                            lambda x: '-'.join(x.dropna().astype(int).astype(str)),
                                            axis=1
                                            )

In [32]:
wind.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5

In [33]:
# Drop the Yr, Mo, Dy from the wind DataFrame
wind = wind.drop(['Yr','Mo','Dy'], axis = 1)
wind.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5

In [34]:
wind['date'] = pd.to_datetime(wind['date'], format='%y-%m-%d')
wind.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05

In [35]:
wind['date'].head(1)

0   2061-01-01
Name: date, dtype: datetime64[ns]

### Step 4. Year 2061 is seemingly imporoper. Convert every year which are < 70 to 19XX instead of 20XX.

In [36]:
date1 = pd.to_datetime('1-1-1970', format='%d-%m-%Y')
date1

Timestamp('1970-01-01 00:00:00')

In [37]:
from datetime import timedelta, date
col = 'date'
wind[col] = pd.to_datetime(wind[col])
future = wind[col] > date(year=2050,month=1,day=1)
wind.loc[future, col] -= timedelta(days=365.25*100)
import warnings

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  after removing the cwd from sys.path.

In [38]:
wind.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [39]:
wind = wind.set_index('date')

In [40]:
wind.zz = pd.to_datetime(wind.index, format='%Y-%m-%d')
print(type(wind.index))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [41]:
wind.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [42]:
wind.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [43]:
wind.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [44]:
wind.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [45]:
wind_min = wind.min()
wind_max = wind.max()
wind_mean = wind.mean()
wind_std = wind.std()
loc_stats = pd.DataFrame({'Min':wind_min, 'Max':wind_max, 'Mean':wind_mean, 'StdDev':wind_std})
loc_stats

      Min    Max       Mean    StdDev
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [53]:
Dy_avg = wind2[wind2.columns.difference(['Yr','Mo'])]
Dy_avg.head()

,BEL,BIR,CLA,CLO,DUB,Dy,KIL,MAL,MUL,ROS,RPT,SHA,VAL
0,18.50,9.87,10.25,12.58,13.67,1,9.29,15.04,10.83,13.17,15.04,NaN,14.96
1,17.54,7.67,10.04,9.67,11.50,2,6.50,13.83,9.79,10.83,14.71,12.62,NaN
2,12.75,6.17,NaN,7.67,11.25,3,10.13,12.71,8.50,12.33,18.50,11.17,16.88
3,5.46,2.88,1.79,5.88,8.63,4,4.58,10.88,5.83,11.75,10.58,4.54,6.63
4,12.92,8.21,6.54,10.34,11.92,5,6.17,11.83,10.92,11.42,13.33,10.71,13.25

In [54]:
Dy_avg.groupby(['Dy']).mean()

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,ROS,RPT,SHA,VAL
Dy,,,,,,,,,,,,
1,13.575139,7.377407,8.852083,8.953796,10.265093,6.498796,15.945395,8.745767,11.790741,12.787037,10.662930,10.930741
2,13.135000,7.094583,8.499259,8.832500,10.149954,6.613981,15.830463,8.616157,11.842407,12.726713,10.497130,10.843953
3,12.562361,6.748981,7.973488,8.379306,9.649306,6.195324,15.499491,8.235370,11.349676,12.264028,9.913565,10.254537
4,12.503565,6.740602,8.095093,8.414769,9.474352,5.943472,15.173380,8.158519,11.469907,11.644651,9.920972,10.168657
5,13.301204,7.008148,8.447269,8.901343,9.782315,6.021528,15.998333,8.641481,11.199630,11.770972,10.023009,10.283750
6,12.943426,6.857083,8.182269,8.383657,9.472500,6.096296,15.423194,8.203056,11.520694,12.353333,10.143194,10.603981
7,12.949306,7.044954,8.285556,8.360463,9.604233,6.311389,15.124306,8.224861,11.595972,12.508519,10.400463,10.801806
8,12.809213,6.867685,8.074074,8.402778,9.345093,6.091852,15.332361,8.176528,11.262407,12.023935,10.093611,10.345046
9,13.276528,7.345602,8.605694,8.761759,9.978380,6.361898,15.879352,8.833102,11.758287,12.517870,10.660185,10.818981
10,13.487731,7.421343,8.775509,8.833333,10.151898,6.550463,15.592083,8.879074,11.929074,12.755370,10.938009,11.038009
11,13.588009,7.410185,8.951574,8.996759,10.122176,6.455000,15.772454,8.823889,11.816481,13.002605,10.810741,11.008287
12,12.986343,7.394537,8.790046,8.863535,10.082047,6.606065,15.787546,8.783889,12.026296,12.884813,10.872917,10.894815
13,12.356389,6.809398,8.059954,8.321111,9.564815,6.182639,14.981991,8.082870,11.767454,12.321250,10.002546,10.218472
14,13.291019,7.230046,8.579306,8.700093,9.657454,6.458981,15.271907,8.450463,12.074954,12.750139,10.863472,11.148241
15,12.795463,7.006898,8.422083,8.635093,9.631481,6.335602,15.120417,8.364213,11.519861,12.178333,10.258426,10.614074
16,13.272083,7.155509,8.651157,8.760046,9.641713,6.253241,16.157442,8.405602,11.431944,12.357269,10.582824,10.830926
17,12.992639,7.314074,8.782176,8.751898,10.022269,6.420046,15.662130,8.468750,11.993935,12.680417,10.567037,10.844306
18,12.772361,7.121574,8.518558,8.554676,9.944074,6.264791,15.415463,8.454815,11.795023,12.325741,10.426186,10.251111
19,13.212870,7.116019,8.502870,8.636713,9.884259,6.212326,15.737176,8.575417,11.707315,12.105556,10.518796,10.400648
20,12.863796,6.878148,8.288426,8.558796,9.659815,6.102639,15.714444,8.310417,11.668148,12.019954,10.286620,10.486884
21,12.562593,6.666667,8.038796,8.366435,9.231759,5.932000,15.006250,8.010787,11.527454,11.823704,9.944815,10.179815
22,12.918750,7.044213,8.292824,8.546806,9.486806,6.129722,15.008287,8.311620,11.342407,12.128241,10.302454,10.567500
23,13.430324,7.394907,8.756065,9.198981,10.083704,6.513611,15.990463,8.832778,11.759815,12.520972,10.710556,10.872083
24,13.303889,7.261019,8.700880,9.000741,10.024676,6.379398,15.792778,8.551023,11.709722,12.389583,10.708519,10.875093
25,13.808657,7.318565,8.839537,8.983102,9.843843,6.386620,15.707361,8.741759,11.868889,12.331852,10.684167,10.717500
26,12.766250,6.765602,8.228565,8.485278,9.643953,6.041349,15.228519,8.288287,11.301528,11.786296,10.291759,10.292407
27,13.308565,7.122269,8.678009,8.836481,9.746435,6.483796,15.780741,8.517315,11.728148,12.471157,10.629306,10.839306
28,13.305926,6.961713,8.441574,8.713194,9.726898,6.305953,15.834352,8.569167,11.378186,12.118472,10.510324,10.613611
29,13.790990,6.976584,8.521436,8.995149,9.779802,6.412723,16.023861,8.556238,11.733168,12.339000,10.417178,10.518960
30,13.804141,7.300909,8.929545,9.088838,10.174141,6.563990,16.076396,8.868274,11.815303,12.973889,10.943990,10.979645
31,13.217063,7.130476,8.706825,8.799365,10.011667,6.466429,15.901190,8.775873,11.914048,12.502778,10.675794,10.829206

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [83]:
Mo_avg = wind2[wind2.columns.difference(['Dy'])]
Mo_avg.head()

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,Mo,ROS,RPT,SHA,VAL,Yr
0,18.50,9.87,10.25,12.58,13.67,9.29,15.04,10.83,1,13.17,15.04,NaN,14.96,61
1,17.54,7.67,10.04,9.67,11.50,6.50,13.83,9.79,1,10.83,14.71,12.62,NaN,61
2,12.75,6.17,NaN,7.67,11.25,10.13,12.71,8.50,1,12.33,18.50,11.17,16.88,61
3,5.46,2.88,1.79,5.88,8.63,4.58,10.88,5.83,1,11.75,10.58,4.54,6.63,61
4,12.92,8.21,6.54,10.34,11.92,6.17,11.83,10.92,1,11.42,13.33,10.71,13.25,61

In [93]:
year = wind.index.year.unique()
year

Int64Index([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
            1972, 1973, 1974, 1975, 1976, 1977, 1978],
           dtype='int64', name='date')

In [ ]:
wind.loc[(wind.index.month==1) and (wind.index.year==1961)]

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [133]:
q16 = pd.DataFrame()
for i in range(0, len(wind),7):
    temp = wind[i:i+7].mean().T
    temp.columns = wind.columns
    q16 = pd.concat([q16, temp], axis=1)

q16 = q16.T
q16 = q16.reset_index(drop=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [154]:
index = []
for i in range(0, len(wind), 7):
    index.append(i+7)

print(len(index))

940

In [150]:
q16['index'] = index

In [153]:
q16 = q16.set_index('index')
q16

,BEL,BIR,CLA,CLO,DUB,KIL,MAL,MUL,ROS,RPT,SHA,VAL
index,,,,,,,,,,,,
7,12.750000,6.804286,7.055000,8.800000,10.972857,6.900000,13.035714,8.660000,11.280000,14.124286,9.450000,12.355000
14,12.422857,5.667143,6.932857,8.261429,9.220000,5.135714,12.411429,6.355714,11.368571,12.314286,7.671429,8.978571
21,9.344286,7.078571,7.845714,7.857143,8.274286,6.357143,10.981429,6.918571,13.244286,13.554286,9.051667,10.404286
28,18.525714,12.800000,13.272857,13.861429,13.725714,10.524286,20.607143,12.320000,16.458571,18.410000,14.974286,13.565714
35,15.210000,10.201429,9.221429,10.434286,13.352857,9.091429,13.180000,10.977143,12.988571,15.965000,14.765714,16.482857
42,20.964286,12.761429,15.017143,14.227143,15.255714,11.238571,18.817143,14.492857,17.654286,20.541429,15.075714,16.392857
49,20.564286,11.784286,12.491429,13.678571,9.841429,9.840000,16.084286,12.202857,14.304286,15.105714,13.160000,15.281429
56,17.275714,9.268571,10.101429,11.820000,9.500000,7.410000,13.847143,9.410000,13.088571,13.845714,12.285714,12.781429
63,19.450000,10.054286,12.117143,13.685714,12.471429,8.572857,15.596667,11.508333,13.065000,14.180000,13.191429,13.594286
70,15.427143,9.131429,9.157143,9.750000,5.221429,7.107143,13.200000,9.231429,9.992857,9.644286,11.017143,12.024286
77,20.665714,9.778571,11.248571,12.542857,11.380000,7.667143,17.827143,11.422857,12.024286,11.993333,11.907143,14.132857
84,13.454286,7.351429,8.400000,10.838571,9.917143,6.268571,16.540000,9.857143,9.821429,9.055714,8.035714,8.077143
91,14.137143,9.731429,9.858571,10.614286,12.340000,8.160000,15.257143,11.735000,10.571429,11.811429,11.212857,9.907143
98,11.795714,7.071429,7.380000,6.738571,6.434286,5.221429,11.037143,7.631429,12.465714,11.142857,8.482857,9.672857
105,9.120000,5.982857,5.625714,7.041429,6.017143,5.900000,9.428571,6.742857,9.928571,10.202857,7.340000,8.588571
112,13.882857,6.792857,8.362857,8.670000,7.881429,6.720000,12.398571,7.552857,9.845714,11.550000,9.505714,10.314286
119,9.522857,5.798571,6.685714,6.750000,6.952857,5.391429,8.911429,6.944286,8.055714,10.194286,8.142857,9.351429
126,15.488571,9.482857,10.844286,10.198571,9.561429,8.678571,12.024286,10.237143,13.071429,14.440000,12.954286,13.011429
133,12.637143,7.440000,8.208571,8.710000,9.375000,6.504286,13.704286,8.528571,9.292857,9.045714,10.821429,10.308571
140,9.677143,5.540000,7.500000,7.894286,6.677143,4.585714,9.611429,7.578571,11.381429,8.571429,8.448571,6.006667
147,10.370000,4.280000,6.248571,7.410000,4.822857,3.818333,11.977143,6.168571,9.262857,7.708571,6.668571,6.905714
154,11.554286,6.188571,8.142857,8.584286,8.230000,6.112857,13.162857,8.315714,9.947143,10.530000,9.700000,7.585714
161,11.810000,5.931429,7.847143,8.842857,7.078571,5.411429,13.030000,8.302857,8.268571,10.947143,10.095714,8.934286
168,13.582857,5.737143,7.657143,8.547143,8.214286,5.965714,12.347143,8.034286,10.642857,10.024286,9.175714,9.214286
175,14.810000,7.731429,9.620000,11.191429,12.130000,5.651429,18.678571,10.624286,7.762857,7.791429,11.721429,6.257143
182,15.488571,7.042857,10.105714,10.892857,8.505714,6.618571,13.355000,8.577143,8.744286,9.730000,11.385714,9.625714
189,12.190000,7.828571,9.248571,10.678571,11.283333,7.782857,15.344286,10.548571,9.545714,12.394286,12.452857,7.440000
196,12.948571,7.882857,9.817143,9.574286,9.647143,8.610000,12.578571,8.911429,10.695714,14.661429,13.947143,12.780000
203,8.667143,3.792857,6.762857,7.165714,5.524286,4.264286,9.445714,6.421429,6.500000,6.828571,7.327143,5.280000
210,11.918571,6.208571,8.370000,8.857143,8.600000,5.595714,13.201429,7.811429,9.852857,10.120000,9.851429,7.488571
...,...,...,...,...,...,...,...,...,...,...,...,...
6377,11.524286,7.082857,7.310000,7.077143,8.201429,6.327143,14.182857,7.565714,14.207143,9.630000,8.374286,8.905714
6384,12.202857,6.352857,7.362857,6.251429,6.560000,5.694286,15.285714,7.044286,8.824286,12.041429,10.040000,9.322857
6391,12.715714,8.511429,8.714286,7.927143,10.685714,6.385714,15.715714,9.834286,9.958571,11.607143,11.927143,9.162857
6398,14.801429,11.460000,11.797143,11.654286,12.440000,10.154286,19.441429,11.945714,12.912857,19.124286,14.390000,13.612857
6405,7.745714,3.167143,4.070000,3.005714,2.792857,2.375714,7.262857,3.790000,5.394286,6.430000,5.310000,4.005714
6412,12.145714,7.198571,8.188571,7.397143,7.040000,6.000000,13.172857,7.797143,8.957143,12.332857,9.512857,8.680000
6419,16.590000,9.285714,9.670000,8.785714,8.481429,6.767143,16.328571,10.084286,11.821429,12.257143,11.018571,11.955714
6426,9.227143,5.985714,6.041429,5.134286,6.494286,5.737143,11.037143,6.542857,10.518571,13.045714,8.212857,9.821429
6433,9.382857,6.424286,4.844286,5.304286,5.548571,4.814286,11.427143,7.142857,7.278571,9.764286,8.197143,9.077143
6440,14.940000,7.980000,8.357143,7.840000,7.387143,5.702857,14.227143,9.780000,10.784286,11.677143,9.844286,11.314286
6447,9.304286,4.780000,4.851429,4.960000,3.844286,3.371429,11.440000,6.817143,8.911429,6.720000,5.650000,6.464286
6454,8.575714,4.815714,3.022857,4.768571,5.815714,3.785714,13.531429,5.982857,8.100000,8.238571,3.917143,4.418571
6461,13.120000,9.224286,7.447143,6.847143,7.507143,4.160000,14.724286,8.898571,8.607143,9.731429,8.471429,10.874286
6468,19.065714,13.238571,13.894286,11.825714,14.077143,8.162857,23.612857,13.248571,13.770000,13.668571,13.818571,12.742857
6475,12.864286,5.130000,6.398571,6.142857,6.387143,2.334286,15.324286,6.584286,8.275714,4.934286,4.988571,7.364286
6482,19.801429,10.701429,12.568571,12.261429,16.361429,8.861429,24.991429,12.631429,12.540000,16.557143,16.434286,14.602857
6489,15.934286,7.868571,8.851429,9.065714,9.220000,5.217143,19.887143,10.272857,10.850000,11.127143,10.511429,11.832857
6496,12.577143,7.041429,7.205714,8.178571,5.607143,5.500000,14.522857,8.150000,10.654286,11.160000,7.720000,7.582857
6503,13.007143,6.975714,7.802857,8.298571,9.265714,5.380000,17.987143,8.105714,7.535714,10.404286,9.428571,8.304286
6510,13.265714,5.792857,6.445714,7.727143,9.422857,2.947143,16.737143,7.282857,7.572857,7.070000,7.178571,6.958571
6517,17.881429,7.611429,9.167143,10.071429,8.990000,6.035714,18.465714,9.388571,11.815714,12.232857,9.052857,12.495714
6524,19.270000,9.478571,9.858571,11.637143,9.361429,7.571429,21.088571,11.025714,11.858571,14.150000,12.262857,14.957143
6531,21.274286,11.881429,13.814286,14.481429,16.635714,11.195714,25.090000,14.291429,18.041429,21.522857,15.310000,20.028571
6538,16.297143,7.701429,8.161429,9.422857,13.225714,6.808571,20.872857,10.545714,13.668571,17.118571,10.574286,14.448571
6545,10.001429,7.022857,5.941429,7.528571,8.302857,4.172857,16.632857,7.250000,12.537143,13.267143,8.811429,9.374286
6552,17.851429,12.982857,12.655714,14.272857,15.044286,9.342857,23.608571,13.810000,17.207143,20.210000,15.452857,19.018571
6559,14.114286,9.052857,9.775714,10.494286,11.744286,8.690000,17.397143,11.300000,16.201429,18.908571,13.190000,17.454286
6566,10.857143,5.522857,7.554286,6.781429,6.400000,3.635714,15.744286,5.788571,12.590000,11.327143,7.532857,7.662857
6573,12.924286,8.017143,10.137143,11.518571,12.708571,5.821429,28.220000,10.761429,13.868571,13.285714,8.661429,10.118571
6580,12.080000,10.130000,11.630000,11.380000,19.250000,9.590000,22.080000,11.580000,27.290000,20.330000,12.080000,17.410000